<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>receitaServlet</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.controller.receitaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceitaServlet</servlet-name>
        <servlet-class>controller.ReceitaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selectInfos</servlet-name>
        <servlet-class>controller.selectInfos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>receitaServlet</servlet-name>
        <url-pattern>/receitaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceitaServlet</servlet-name>
        <url-pattern>/ReceitaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selectInfos</servlet-name>
        <url-pattern>/selectInfos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
